@import '../../utils/mixin';
@import '../../utils/common.scss';

.ztwarp{
    width:100%;
    height: 100%;
    font-size:  pxTorem(12px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    text-align: center;
    .ztlistone{
        width:100%;
    height: 100%; 
    dl{
        width: 100%;
        height:  pxTorem(200px);
        dt{
            img{
                width: 100%;
                height: 100%;
            }
        }
        dd{
            
           line-height:  pxTorem(25px);
        }
        p{
            b{
                display: inline-block;
                color: red;
                margin-top:  pxTorem(3px);
                margin-bottom:  pxTorem(20px);
            }
     }
    }
   
    }
}