

@import "../../../utils/common.scss";

.ad-header {
  width: 100%;
  height: pxTorem(44px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 pxTorem(10px);
  box-sizing: border-box;
  span{
     font-size: pxTorem(13px)
  }
}
.ad-main {
  margin-top: pxTorem(15px);
  width: 100%;
  flex: 1;
  section {
    width: 100%;
    height: pxTorem(80px);
    display: flex;
    font-size: pxTorem(12px);
    .myname {
      width: 20%;
      height: 91%;
      text-align: center;
      padding-top: 3%;
      color: orange;
      border-left: pxTorem(5px) solid #108ee9;
    }
    .addres {
      width: 60%;
      height: 100%;
      p {
        line-height: pxTorem(22px);
      }
      p:nth-child(1) {
        padding-top: 4%;
      }
      p:nth-child(2),
      p:nth-child(3) {
        color: #777;
      }
    }
    .icon-lajitong {
      width: 20%;
      height: 100%;
      padding-top: pxTorem(20px);
      text-align: center;
      font-size: pxTorem(20px);
      color: #777;
    }
  }
}
.ad-footer {
  width: 100%;
  height: pxTorem(40px);
  line-height: pxTorem(40px);
  color: white;
  background: #108ee9;
  text-align: center;
  border-radius: pxTorem(0px);
  font-weight: 500;
  font-size: pxTorem(14px);
}
