@import '../../../../utils/mixin';
@import '../../../../utils/common.scss';
.xq-header{
    width: 100%;
    height: pxTorem(40px);
    display: flex;
    justify-content: space-between;
    padding:0 pxTorem(10px);
    box-sizing: border-box;
    align-items: center;
    p{
        font-size: pxTorem(12px)
    }
    i{
        font-size: pxTorem(11px)
    }
}
.xq-main{
    flex: 1;
    width: 100%;
    overflow-y: auto;
    .banner{
        width: 100%;
        height: pxTorem(200px);
        img{
            width: 100%;
            height: 100%;
        }
    }
    .xq-main-box{
        width: 100%;
        height: pxTorem(40px);
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: #eeeeee;
        p{
            font-size: pxTorem(12px)
        }
    }
    .xq-main-title{
        width: 100%;
        height: pxTorem(80px);
        border-bottom: pxTorem(1px) solid #cccccc;
        padding: pxTorem(10px) 0;
        text-align: center;
        h3{
            font-size: pxTorem(16px)
        }
        p{
            padding: pxTorem(5px) 0 pxTorem(15px) 0;
            font-size: pxTorem(10px)
        }
        span{
            display: block;
            font-size: pxTorem(13px);
            color: red;
        }
    }
    .xq-main-goodSize{
        width: 100%;
        height: pxTorem(60px);
        display: flex;
        align-items: center;
        border-bottom: pxTorem(5px) solid #eeeeee;
        justify-content: flex-end;
        p{
            font-size: pxTorem(12px);
            margin-right: pxTorem(10px);
        }
        .gooodSize-num{
            color: red;
        }
    }
}
.xq-footer{
    width: 100%;
    height: pxTorem(40px);
    display: flex;
    align-items: center;
    justify-content: space-around;
 
    p{
        flex: 1;
        height: pxTorem(40px);
        text-align: center;
        line-height: pxTorem(40px);
        font-size: pxTorem(11px);
        color: aliceblue;
        i{
            color: black;
            font-size: pxTorem(18px)
        }
    }
    .gocar{
        background: orange;
    }
    .gobuy{
        background: skyblue;
    }
}