
@import '../../../utils/mixin';
@import '../../../utils/common.scss';
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.list-header{
    width: 100%;
    height: pxTorem(30px);
    display: flex;
    justify-content: space-between;
    padding:0 pxTorem(10px);
    box-sizing: border-box;
    align-items: center;
    p{
        font-size: pxTorem(14px)
    }
}
.list-scroll{
    height: pxTorem(30px);
    margin-top: pxTorem(10px);
   .scr {
    overflow-x: auto;
        display: flex;
        align-items: center;
        span {
            width: pxTorem(40px);
            flex-shrink: 0;
            height: pxTorem(30px);
            line-height: pxTorem(30px);
            border-bottom: 5px solid white;
            font-size: pxTorem(14px);
            padding: 0 pxTorem(18px);
        }
       
    }
}
.list-main{
    width: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.list-main-top{
    width: 100%;
    height: pxTorem(80px);
    background: #eeeeee;
    font-size: pxTorem(14px);
   div:nth-child(1){
       width: 100%;
       height: pxTorem(40px);
       display: flex;
       justify-content: center;
       align-items: center;
   }
   div:nth-child(2){
    width: 100%;
    height: pxTorem(40px);
    display: flex;
    justify-content: center;

}
}

.list-main-con{
    width: 100%;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    .list-main-list{
        width: 49%;
        height: pxTorem(140px);
        border: pxTorem(0.5px) solid #eeeeee;
        border-right: 0;
        margin-left: pxTorem(1px);
        font-size: pxTorem(12px);
        text-align: center;
        img{
            width: 80%;
            height: pxTorem(100px);
        }
        p{
            padding: 0 pxTorem(15px);
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }
       span{
            color: red;
        }
    }
}

