@import '../../utils/mixin';
@import '../../utils/common.scss';
.wrap{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.header{
    width: 100%;
    height: pxTorem(44px);
    background: #cccccc;
}
.main{
    width: 100%;
    flex: 1;
    overflow-y: auto;
    
}
.footer{
    width: 100%;
    height: pxTorem(60px);
    background: #cccccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: pxTorem(14px);
}
.active{
    color: red;
}
